.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://static.wixstatic.com/media/b8c3d9_08c32043a35a40eb979dcc4b31aaefe1~mv2.png/v1/fill/w_356,h_236,al_c,q_80,usm_0.66_1.00_0.01/b8c3d9_08c32043a35a40eb979dcc4b31aaefe1~mv2.webp');
  background-size: cover;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}